<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>produdct</title>
</head>
<body>
    <form th:action="@{/product/register}" method="post" th:object="${productVO}"> // 오브젝트로 받지 않으면
                                                                                   // 하단에서 product. 으로 하면 된다.
        <input th:field="*{productName}" placeholder="상품명" />
        <input th:field="*{productPrice}" placeholder="상품 가격" />
        <input th:field="*{productStock}" placeholder="상품 개수" />
        <input th:field="*{productBrand}" placeholder="브랜드명" />
        <button type="submit">완료</button>
    </form>
</body>
</html>